.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .about-content{
      width: 100%;
      .user-agreement, .service-list, .privacy, .open-source{
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0 1.5rem;
        font-size: 0.8rem;
        border-bottom: 1px solid #ddd;
      }
      .open-source{
        border-bottom: none;
      }
  }
}

#user-agreement, #service-list, #privacy-statement{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .user-agreement-content, .service-list-content, .privacy-statement-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      padding: 0.6rem;
  }
}

#user-agreement, #service-list, #privacy-statement{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .user-agreement-content, .service-list-content, .privacy-statement-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      padding: 0.8rem;
  }
}

#user-agreement, #service-list, #privacy-statement{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .user-agreement-content, .service-list-content, .privacy-statement-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      padding: 0.8rem;
  }
}

//开源许可
#licence-id{
  height: 100%;
  overflow: hidden;
  .licence-content{
      display:flex;
      flex-direction:column;
      flex: 1;
      overflow-y: scroll;
      height: calc(100vh - 60px);
      font-size: 14px;
      padding: 12px;
      .header{
          background-color: #DEDEDE;
          display: flex;
          align-items: center;
          height: 1.8rem;
          flex-shrink: 0;
          .header-item1{
              width: 50%;
              height:44px;
              padding: 3px;
              align-items: center;
              display: flex;
          }
          .header-item2{
              width: 30%;
              height:44px;
              padding-left: 5px;
              align-items: center;
              display: flex;
          }
          .header-item3{
              width:20%;
              height:44px;
              padding-left: 5px;
              align-items: center;
              display: flex;
          }
      }
      .licence-line{
          display: flex;
          align-items: center;
          height: 1.8rem;
          flex-shrink: 0;
          .licence-row1{
              width: 50%;
              align-items: center;
              display: flex;
          }
          .licence-row2{
              width: 30%;
              align-items: center;
              display: flex;
          }
          .licence-row3{
              width: 20%;
              align-items: center;
              display: flex;
          }
      }
      .licence-line:nth-child(odd){
          background-color: #FFF;
      }
      .licence-line:nth-child(even){
          background-color: #F5F5F5;
      }
      .licence-footer{
          height: 2.5rem;
          color: #ccc;
          justify-content: center;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          span{
              margin-top: -0.4rem;
          }
          span:nth-child(1){
              margin-right: 0.6rem;
          }
          span:nth-child(2){
              margin-left: 0.6rem;
          }
      }
  }
}
