.feedback-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px auto 0 auto;

  .feedback-textarea{
    width: 89%;
    display: flex;
    padding: 2%;
    border-radius: 5px;
    outline: none;
    font-size:36px;
    height: 200px;
    max-height: 80%;
    flex-direction: column;
    .at-textarea__textarea{
      font-size: 0.8rem;
    }
    .at-textarea__counter{
      font-size: 0.6rem;
    }
  }
  .feedback-textarea::-webkit-input-placeholder {
    font-size: 36px;
  }
  .submit-feedback{
    margin-top: 25px;
    width: 95%;
    .button{
      height: 100px;
      font-size: 36px;
      display: flex;
      align-items: center;
      border-radius: 5px;
    }
  }
}

