.feedback-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.8rem;
  .feedback-textarea{
    width: 89%;
    display: flex;
    padding: 2%;
    border-radius: 0.2rem;
    outline: none;
    font-size: 0.8rem;
    flex-direction: column;
    .at-textarea__textarea{
      font-size: 0.8rem;
    }
    .at-textarea__counter{
      font-size: 0.6rem;
    }
  }
  .feedback-textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .submit-feedback{
    margin-top: 1.2rem;
    width: 95%;
    .button{
      height: 2rem;
      font-size: .9rem;
      display: flex;
      align-items: center;
      border-radius: 0.2rem;
    }
  }
}

