.feedback-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.8rem;
  .feedback-textarea{
      width: 89%;
      height: 2.8rem;
      display: flex;
      padding: 2%;
      border-radius: 0.2rem;
      outline: none;
  }
  .submit-feedback{
    margin-top: 1.2rem;
    width: 95%;
    .button{
      height: 2rem;
      font-size: .9rem;
      display: flex;
      align-items: center;
      border-radius: 0.2rem;
    }
  }
}
