/**
 * 统一多端基础样式
 * 比较理想的是 View 标签统一为 display: flex; flex-direction: column
 * 但是 H5 上内置组件样式可能会错乱，因此暂时不这样处理，有用到 flex 的地方都显式声明主轴方向即可
 */

/* weapp */
page {
  height: 100%;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
/*postcss-pxtransform rn eject enable*/
div {
  box-sizing: border-box;
}

textarea{
  outline: none;
}

button {
  outline: none;
  height: 2rem;
  font-size: .9rem;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
}

input {
  font-size: 0.8rem;
  display: flex;
  padding-left: 0.1rem;
  border: 0 none;
  background-image: linear-gradient(#7FFF00, #7FFF00), linear-gradient(#1f3144, #1f3144);
  background-size: 0px 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);

  &:focus {
    background-size: 100% 2px, 100% 1px;
    transition: all .5s;
    border: none;
    outline: none;
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.6rem;
}

.taro-text {
  box-sizing: border-box;
}

.taro-tabbar__panel,
.taro_router {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.taro_page {
  flex: 1;
}
/*postcss-pxtransform rn eject disable*/


//用户协议，服务条款，隐私声明
// #user-licence，#service-list, #privacy {
//   @font-face {
//       font-family: "Times New Roman";
//   }

//   @font-face {
//       font-family: "宋体";
//   }

//   @font-face {
//       font-family: "Calibri";
//   }

//   @font-face {
//       font-family: "SimSun";
//   }

//   @font-face {
//       font-family: "Wingdings";
//   }

//   @font-face {
//       font-family: "Arial";
//   }

//   p.MsoNormal {
//       mso-style-name: Normal;
//       mso-style-parent: "";
//       margin: 0pt;
//       margin-bottom: .0001pt;
//       mso-pagination: none;
//       text-align: justify;
//       text-justify: inter-ideograph;
//       font-family: Calibri;
//       mso-fareast-font-family: SimSun;
//       mso-bidi-font-family: Arial;
//       font-size: 10.5000pt;
//       mso-font-kerning: 1.0000pt;
//   }

//   span.msoIns {
//       mso-style-type: export-only;
//       mso-style-name: "";
//       text-decoration: underline;
//       text-underline: single;
//       color: blue;
//   }

//   span.msoDel {
//       mso-style-type: export-only;
//       mso-style-name: "";
//       text-decoration: line-through;
//       color: red;
//   }

//   table.MsoNormalTable {
//       mso-style-name: "Table Normal";
//       mso-style-parent: "";
//       mso-style-noshow: yes;
//       mso-tstyle-rowband-size: 0;
//       mso-tstyle-colband-size: 0;
//       mso-padding-alt: 0.0000pt 5.4000pt 0.0000pt 5.4000pt;
//       mso-para-margin: 0pt;
//       mso-para-margin-bottom: .0001pt;
//       mso-pagination: widow-orphan;
//       font-family: Calibri;
//       mso-fareast-font-family: SimSun;
//       mso-bidi-font-family: Arial;
//       font-size: 10.0000pt;
//       mso-ansi-language: #0400;
//       mso-fareast-language: #0400;
//       mso-bidi-language: #0400;
//   }

//   @page {
//       mso-page-border-surround-header: no;
//       mso-page-border-surround-footer: no;
//   }

//   @page Section0 {
//       margin-top: 72.0000pt;
//       margin-bottom: 72.0000pt;
//       margin-left: 90.0000pt;
//       margin-right: 90.0000pt;
//       size: 595.3000pt 841.9000pt;
//       layout-grid: 15.6000pt;
//   }
// }
