.sign-main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background-color: #81AFED;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 36px;

    .user {
      color: red;
      padding-right: 24px;
    }

    .greetings {
      color: #fff;
    }

    .logout {
      color: green;
      cursor: pointer;
    }
  }

  .body {
    height: calc(100vh -100px);
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:30px;

    .sign-area {
      display: flex;
      width: 100%;
      height: 300px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;

      .sign {
        width: 240px;
				height: 240px;
        border: 1px solid #EEB422;
        border-radius: 50%;
        background-color: #EEB422;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EEB422;
        cursor: pointer;
        flex-direction: column;
        box-shadow: 0 0 10px #EEB422;
        line-height: 1.5;

        &:active {
          color: #EEEE00;
          background-color: #EEEE00;
        }

        .sign-text {
          font-size: 36px;
          color: #E6E6FA;
        }

        #now-time {
          font-size: 32px;
          color: white;

          .middle {
            margin: 0 3px;
            width: 10px;
            text-align: center;
          }
        }
      }

      .signed-flag {
        color: #EDEDED;
        background-color: rgba(129,175,237, 0.6);;
        border: 0;
        box-shadow: none;

        &:active {
          background-color: rgba(129,175,237, 0.6);;
        }
      }

      .last-sign-time {
        margin-top: 20px;
        font-size: 26px;
        color: #808080;
      }

      .online-persons {
        display: flex;
        font-size: 26px;
        color: darkorchid;
        letter-spacing: 3px;
        margin-top: 20px;

        .persons {
          color: red;
          font-weight: 600;
        }
      }
    }

    .count-area {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 32px;
      padding-top:20px;
      height: calc(100vh - 400px);

      .signed {
        display: flex;
        width: 100%;
        flex: 1;
        padding-top: 15px;
        height: calc(50vh - 200px);
        overflow-y: scroll;

        .signed-text {
          display: flex;
          flex-shrink: 0;
          color: #81AFED;
        }

        .signed-persons {
          display: flex;
          width: 100%;
          word-break: break-all;
          overflow: auto;
          flex-wrap: wrap;
          align-items: baseline;
          align-self: baseline;
          margin-left: 20px;
          overflow-y: scroll;

          .weapp{
            color: green;
            margin:2px;
          }
          .h5{
            color: #81AFED;
            margin: 2px;
          }
          .alipay{
            color: blue;
            margin: 2px;
          }
        }
      }

      .not-signed {
        display: flex;
        width: 100%;
        flex: 1;
        padding-top: 15px;
        height: calc(50vh - 200px);
        overflow-y: scroll;

        .not-signed-text {
          display: flex;
          flex-shrink: 0;
          color: #BD2833;
        }

        .not-signed-persons {
          display: flex;
          width: 100%;
          word-break: break-all;
          overflow: auto;
          flex-wrap: wrap;
          align-items: baseline;
          align-self: baseline;
          margin-left: 20px;
          overflow-y: scroll;

          .weapp{
            color: green;
            margin: 2px;
          }
          .h5{
            color: #BD2833;
            margin: 2px;
          }
          .alipay{
            color: blue;
            margin: 2px;
          }
        }
      }
    }
  }
}

.sign-main.useVH{
  height: 100vh;
}
