.sign-main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    height: 2.5rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background-color: #81AFED;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .user {
      color: red;
      font-size: 0.8rem;
      padding-right: 0.5rem;
    }

    .greetings {
      font-size: 0.7rem;
      color: #fff;
    }

    .logout {
      color: green;
      cursor: pointer;
    }
  }

  .body {
    height: auto;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sign-area {
      display: flex;
      width: 100%;
      margin-top: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;

      .sign {
        width: 6rem;
        height: 6rem;
        border: 1px solid #EEB422;
        border-radius: 50%;
        background-color: #EEB422;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: #EEB422;
        cursor: pointer;
        flex-direction: column;
        box-shadow: 0 0 0.08rem #EEB422;

        &:active {
          color: #EEEE00;
          background-color: #EEEE00;
        }

        .sign-text {
          font-size: 0.8rem;
          color: #E6E6FA;
        }

        #now-time {
          color: white;

          .middle {
            display: inline-block;
            width: 0.3rem;
            text-align: center;
          }
        }
      }

      .signed-flag {
        color: "#EDEDED";
        background-color: "#C0C0C0";
        border: 0;
        box-shadow: none
      }

      .last-sign-time {
        margin-top: 0.5rem;
        font-size: 0.6rem;
        color: #808080;
        height: 0.384rem;
      }

      .online-persons {
        display: flex;
        font-size: 0.6rem;
        color: darkorchid;
        letter-spacing: 0.2rem;
        margin-top: 0.8rem;

        .persons {
          color: red;
          font-weight: 600;
        }
      }
    }

    .count-area {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .signed {
        display: flex;
        width: 100%;
        flex: 1;
        padding-top: 0.3rem;
        max-height: 11.5rem;

        .signed-text {
          display: flex;
          flex-shrink: 0;
          font-size: 0.7rem;
          color: #81AFED;
        }

        .signed-persons {
          color: #006400;
          display: flex;
          width: 100%;
          word-break: break-all;
          overflow: auto;
          padding: 0 0.5rem;
          font-size: 0.8rem;
        }
      }

      .not-signed {
        display: flex;
        width: 100%;
        flex: 1;
        padding-top: 0.3rem;
        font-size: 0.7rem;
        color: #BD2833;
        max-height: 11.5rem;

        .not-signed-text {
          display: flex;
          flex-shrink: 0;
        }

        .not-signed-persons {
          color: red;
          display: flex;
          width: 100%;
          word-break: break-all;
          overflow: auto;
          font-size: 0.8rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
}
