.set-user-info-component-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.6rem;

  input {
    height: 1.6rem;
    width: 85%;
    font-size: 0.8rem;
    display: flex;
    padding-left: 0.1rem;
    border: 0 none;
    background-image: linear-gradient(#7FFF00, #7FFF00), linear-gradient(#1f3144, #1f3144);
    background-size: 0px 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);

    &:focus {
      background-size: 100% 2px, 100% 1px;
      transition: all .5s;
      border: none;
      outline: none;
    }
  }

  .save-user-info {
    margin-top: 0.8rem;
    width: 100%;
    .button{
      width: 85%;
      height: 2rem;
      font-size: .9rem;
      display: flex;
      align-items: center;
      border-radius: 0.2rem;
      background-color: #81AFED;
      color: #fff;
    }
  }
}
