.system-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .system-content{
      width: 100%;
      .reset-password, .logout{
        height: 120px;
        line-height: 120px;
        margin: 0 60px;
        font-size: 36px;
      }
      .reset-password {
        border-bottom: 1px solid #ddd;
      }
  }
}



.reset-password-area {

  .input-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
    margin: 0 30px;

    &:nth-child(2) {
      margin-top: 50px;
    }

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50px;

      .form {
        display: flex;
        height: 48px;
        width: 100%;
        border: none;
        outline: 0;
        padding: 0 10px;
        font-size: 32px;
        border: 0 none;
        background-image: linear-gradient(#7FFF00, #7FFF00), linear-gradient(#1f3144, #1f3144);
        background-size: 0px 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid #000;

        &:focus {
          background-size: 100% 2px, 100% 1px;
          transition: all .5s;
          border: none;
          outline: none;
        }
      }

      .form::-webkit-input-placeholder {
        font-size: 24px;
      }

    }
  }

  .register-btn,
  .reset-password-btn {
    display: flex;
    justify-content: center;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;
      margin: 0 20px;
      font-size: 32px;
      border:1px solid #ccc;
      border-radius: 5px;
      background-color: #81AFED;
      color: #fff;
    }

    .button.active{
      background-color: #4682B4;
    }
  }

  .line-out {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 20px 30px 10px;
    width: 95%;
    height: 2px;
    background-color: #878787;
  }

  .tips-container {
    display: flex;
    color: #878787;
    margin-left: 20px;
    .tips{
      font-size: 24px;
    }
  }
}
