.search-history-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .search-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    .search-input {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      margin-top: 20px;
      flex-direction: column;
      position: relative;
      font-size: 32px;

      #search-history {
        width: 85%;
        box-shadow: none;
        border: 0 none;
        background-image: linear-gradient(#7FFF00, #7FFF00), linear-gradient(#1f3144, #1f3144);
        background-size: 0px 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        padding-left: 10px;
        border-bottom:1px solid #000;

        &:focus {
          background-size: 100% 2px, 100% 1px;
          transition: all .5s;
          border: none;
          outline: none;
        }
      }

    }

    .search-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-top: 20px;

      .button {
        width: 85%;
        height: 100px;
        font-size: 36px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #81AFED;
        color: #fff;
      }
    }
  }

  .record-list-container {
    width: 83%;
    overflow-y: scroll;
    margin: 20px auto 0 auto;
    font-size: 28px;

    .show-more {
      color: grey;
      cursor: pointer;
      height: 24px;
      line-height: 24px;
      color: #ccc;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      user-select: none;

      span:nth-child(1) {
        margin-top: -10px;
        margin-right: 10px;
      }

      span:nth-child(2) {
        margin-top: -10px;
        margin-left: 10px;
      }
    }
  }
}

.record-container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
