@import "styles/theme.scss";

.myInfo-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #eaeaea;

  .user-info,
  .not-login-user {
    width: 100%;
    height: 5.20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-top: 0.6rem;
    background-color: #81AFED;
    position: relative;

    .user-pic {
      margin: 0.25rem 1rem;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      color: #fff;
      display: flex;

      .at-avatar{
        width: 2.5rem;
        height: 2.5rem;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .user-info-head-pic {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    .user-name {
      display: flex;
      flex-direction: column;
      height: 2.4rem;
      color: #fff;

      .nickname {
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.8rem;
      }

      .username {
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.6rem;
      }
    }

  }

  .not-login-user {
    justify-content: center;

    .not-login-circus {
      width: 3.6rem;
      height: 3.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
      font-size: 18px;
      position: relative;

      .not-login-inner-circus {
        position: absolute;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        border: 1px solid #81AFED;
      }

      .not-login-text {
        font-size: 0.8rem;
      }
    }
  }

  .user-menu {
    display: flex;
    flex-direction: column;

    .menu-block {
      display: flex;
      width: 100%;
      background-color: #fff;
      align-items: center;
      flex-direction: column;

      .menu-item {
        align-items: center;
        display: flex;
        width: 100%;
        height: 2.5rem;
        position: relative;

        .menu-ico {
          height: 1.6rem;
          width: 1.6rem;
          margin-left: 0.3rem;
        }

        .menu-text {
          font-size: 0.7rem;
          margin-left: 0.6rem;
        }

        .menu-arrow {
          position: absolute;
          right: 1rem;
          height: 100%;
          display: flex;
          color: #ccc;
          align-items: center;
        }
      }
    }
  }

  .interval {
    width: 100%;
    height: 0.6rem;
    background-color: #eaeaea;
  }

}
