@import "styles/theme.scss";

.myInfo-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #eaeaea;

  .user-info {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #81AFED;
    position: relative;

    .user-pic {
      margin: 10px 35px;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      color: #fff;
      display: flex;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid #fff;

      .taro-img{
        width: auto;
        height: auto
      }

      .user-info-head-pic {
        height: 80px;
        width: 80px;
      }
    }

    .user-name {
      display: flex;
      flex-direction: column;
      height: 100px;
      color: #fff;
      align-items: center;
      justify-content: center;

      .nickname {
        font-size: 36px;
        align-self: flex-start;
        font-weight: 600;
      }

      .username {
        margin-top:12px;
        font-size: 24px;
      }
    }

  }

  .not-login-user {
    justify-content: center;
    border-radius: 10px;
    height: 245px;

    .not-login-circus {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 50%;
      background-color: #fff;
      font-size: 18px;
      position: relative;

      .not-login-inner-circus {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #81AFED;
      }

      .not-login-text {
        font-size: 32px;
        color: #000;
      }
    }
  }

  .user-menu {
    display: flex;
    flex-direction: column;

    .menu-block {
      display: flex;
      width: 100%;
      background-color: #fff;
      align-items: center;
      flex-direction: column;

      .menu-item {
        align-items: center;
        display: flex;
        width: 100%;
        height: 100px;
        position: relative;

        .menu-ico {
          height: 70px;
          width: 70px;
          margin-left: 20px;
        }

        .menu-text {
          font-size: 30px;
          margin-left: 10px;
        }

        .menu-arrow {
          position: absolute;
          right: 20px;
          height: 100%;
          display: flex;
          color: #ccc;
          align-items: center;
        }
      }
    }

    .alipay-empty{
      display:flex;
      height: calc(100vh - 200px);
      align-items:center;
      justify-content:center;
      .empty-text{
        font-weight: 600;
        font-size: 32px;
        color: #1890FF;
      }
    }
  }

  .interval {
    width: 100%;
    height: 18px;
    background-color: #eaeaea;
  }

}
