@import "styles/theme.scss";

.myInfo-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #eaeaea;
  .user-info, .not-login-user{
      width: 100%;
      height: 5.20rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 30px;
      padding-top: 20px;
      background-color: #81AFED;
      position: relative;
      .user-pic{
          width: 50px;
          height: 50px;
          margin: 5px 20px;
          justify-content: center;
          align-items: center;
          font-size: 35px;
          color: #fff;
          display: flex;
          .user-info-head-pic{
              width: 50px;
              height: 50px;
          }
      }
      .user-name{
          display:flex;
          flex-direction: column;
          height: 60px;
          width:  calc(100% - 90px);
          color: #fff;
          .nickname {
              height: 30px;
              line-height: 30px;
              font-size: 18px;
              font-weight: 600;
          }
          .username{
              height: 30px;
              line-height: 30px;
              font-size: 14px;
          }
      }

      .right-arrow{
          position: absolute;
          font-size: 24px;
          color: #fff;
          right: 20px;
      }
  }
  .not-login-user{
      justify-content: center;
      .not-login-circus{
          width: 3.6rem;
          height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ccc;
          border-radius: 50%;
          background-color: #fff;
          font-size: 18px;
          position: relative;
          .not-login-inner-circus{
              position: absolute;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
              border: 1px solid #81AFED;
          }
          .not-login-text{
            font-size: 0.8rem;
          }
      }
  }
  .user-menu{
      display: flex;
      flex-direction: column;
      .menu-block{
        display: flex;
        width: 100%;
        background-color: #fff;
        align-items: center;
        flex-direction: column;
        .menu-item{
          align-items: center;
          display: flex;
          width: 100%;
          height: 2.5rem;
          position: relative;
          .menu-ico{
            height: 1.6rem;
            width: 1.6rem;
            margin-left: 0.3rem;
          }
          .menu-text{
            font-size: 0.7rem;
            margin-left: 0.6rem;
          }
          .menu-arrow{
            position: absolute;
            right: 1rem;
            height: 100%;
            display: flex;
            color: #ccc;
            align-items: center;
          }
        }
      }
  }
  .interval{
      width: 100%;
      height: 0.6rem;
      background-color: #eaeaea;
  }
  .signature-show-container{
      display: flex;
      height: 30%;
      width: 100%;
      justify-content: center;
      align-items: center;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
       user-select: none;
      .signature-show{
          width: 80%;
          height: 24px;
          line-height: 24px;
          text-align: center;
          color: rgba(0, 0, 0, .8);
          opacity: .5;
      }
  }
}

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .about-content{
      width: 93%;
      .show-version{
          margin-top: 25px;
          margin-left: 7%;
          color: #ccc;
      }
  }
}

.system-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .system-content{
      width: 100%;
      padding-top: 26px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .am-list{
          width: 100%;
      }
      .quit-button{
          width: 86%;
          margin-top: 25px;
      }
  }
}

.set-user-info-component-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  input{
      width: 91%;
      line-height: 38px;
      height: 38px;
      display: flex;
      padding-left: 2%;
      border: 0 none;
      background-image: linear-gradient(#7FFF00,#7FFF00),linear-gradient(#1f3144,#1f3144);
      background-size: 0px 2px,100% 1px;
      background-repeat: no-repeat;
      background-position: center bottom,center calc(100% - 1px);
      background-color: rgba(0,0,0,0);
      &:focus {
          background-size: 100% 2px,100% 1px;
          transition: all .5s;
          border: none;
          outline: none;
      }
  }
  .save-user-info{
      margin-top: 15px;
      width: 93%;
  }
}

.feedback-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  .feedback-textarea{
      width: 89%;
      height: 120px;
      display: flex;
      padding: 2%;
      border-radius: 5px;
  }
  .submit-feedback{
      color: #ccc;
      margin-top: 15px;
      width: 93%;
  }
}

.select-sex, .select-birthday, .select-address {
  .am-list-content{
      margin: 8px 0 8px 12px;
  }
}

.set-user-info-component-content .am-list-item{
  width: 91%;
}

.user-profile-container {
  .user-profile-content{
  .user-profile-header{
    .am-button{
      text-align: left;
      border: none;
    }
    .am-button:before{
      border: none;
    }
    .user-profile-head-pic{
      position: absolute;
      top: 15px;
      right: 40px;
      width: 30px;
      height: 30px;
    }
  }
  }
}
