.navbar-container{
  display: flex;
  background-color: #81AFED;
  width: 100vw;
  height: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  .nav-back-area{
    height:100%;
    width: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-back-arrow{
      height: 0.85rem;
      width: 0.45rem;
    }
  }
  .center-text{
    font-size: 0.75rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width: 60%;
    text-align: left;
    color: #fff;
    margin-left: 1rem;
  }
  .other-text{
      flex-basis: 20%;
      flex-shrink: 1;
  }
}
